*.ex5

experts/Advisors
experts/Examples

Files
Images

Indicators/
Libraries
Logs
Presets
Profiles
Scripts
Services
Shared Projects
experts.dat


include/Arrays
include/Canvas
include/ChartObjects
include/Charts
include/Controls
include/Expert/Money
include/Expert/MySignals
include/Expert/Triling
include/Expert/*.mqh

include/Expert/Signal/SignalA*
include/Expert/Signal/SignalB*
include/Expert/Signal/SignalC*
include/Expert/Signal/SignalDEMA.mqh
include/Expert/Signal/SignalDeMarker.mqh
include/Expert/Signal/SignalE*
include/Expert/Signal/SignalF*
include/Expert/Signal/SignalI*
include/Expert/Signal/SignalM*
include/Expert/Signal/SignalR*
include/Expert/Signal/SignalS*
include/Expert/Signal/SignalT*
include/Expert/Signal/SignalW*

include/Expert/Trailing/TrailingFixedPips.mqh
include/Expert/Trailing/TrailingMA.mqh
include/Expert/Trailing/TrailingNone.mqh
include/Expert/Trailing/TrailingParabolicSAR.mqh

include/Files
include/Generic
include/Graphics
include/Indicators
include/Math
include/OpenCL
include/Strings
include/Tools
include/Trade
include/WinAPI
include/*.mqh

